/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
a{
  color: white;
}

p {
  line-height: 2rem;
  font-family: 'Raleway Dots', cursive;
}

ul{
  font-family: 'Raleway Dots', cursive;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#swift{
 font-family: 'Raleway', sans-serif;
 color: white;
 opacity: .9;
}
.con{
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}
#rab1{
    left:100;
}
#st{
  background-size: 1000px !important;
}

#down{
  padding: 5px 5px 5px 10px;
  opacity: .6;
    position: absolute;
    bottom: 0; /* attaches the element to the bottom */
    left: 0; /* attaches the element to the left-side */
    right: 0; 
}
#down2{
 margin-top: 200px;
}

#purple{
  background-color: #4c0034;
  height: 100%;
}
#butt{
  z-index: -1;
}
@media (max-width: 40em) {
#yellow {
display: none;
}
}
#yellow{
  position: absolute;
  z-index: 2;
  margin-top:70px;
  
}




.normal{
  padding-top: 13%;
  padding-bottom: 13%;
  
}

.head1{
  font-family: 'Arapey', serif;
}
#about{
  color:#a68a62;

}

#services{
  color: #4c0034;
  background-color: white;
}
#serv{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color:#1c2e3b;
}
#run{
  font-family: 'Raleway Dots', cursive;
  color:#1c2e3b;
  text-align: center;
  font-size: 20px;
}

#white{
  height: 50px;
  width:100%;
  background-color: white;
  -ms-transform: skewY(2deg); /* IE 9 */
    -webkit-transform: skewY(2deg); /* Safari */
    transform: skewY(2deg);
}
#white2{
  height: 72px;
  width:100%;
  background-color: white;
  
}
#blue{
  height: 50px;
  width:100%;
  background-color: #edf4f4;
  -ms-transform: skewY(-2deg); /* IE 9 */
    -webkit-transform: skewY(-2deg); /* Safari */
    transform: skewY(-2deg);
}
#blue2{
  height: 100px;
  width:100%;
  background-color: #edf4f4;
    
}

#test{
  font-family: 'Raleway', cursive;
  font-weight: 400;
  color: black;
  font-size: 15px;
}
#last{
  background-color: #edf4f4;
}
#prices{
  color: white;
  background-color: #233344;
}
#ses{
  font-family: 'Raleway Dots', cursive;
  color:white;
  text-align: center;
  font-size: 12px;
}

#pri{
  text-align: center;
  font-family: 'Raleway Dots', sans-serif;
  color:white;
}
#box{
  border-width: 1px;
  border-color: white;
  border-style: solid;
  width: 300px;
  font-family: 'Raleway Dots', sans-serif;
  color: white;
  font-size: 16px;

}
#contact{
  color: white;
  background-color: #4c0034;
}
#ses{
  font-family: 'Raleway Dots', cursive;
  color:white;
  text-align: center;
  font-size: 17px;
}


#foot{
  background-color: #233344;
}
#all{
  color:white;
  font-size: 10px;
  font-family: 'Raleway Dots', cursive;
}
